[env]
DBT_PROFILES_DIR="{{ cwd }}"

[tools]
duckdb = "latest"
python = "3.13.1"
uv = "latest"

[settings]
python.uv_venv_auto = true

[tasks."data:get"]
description = "Downloads example data"
run = "wget https://synthetichealth.github.io/synthea-sample-data/downloads/synthea_sample_data_csv_apr2020.zip -O csv.zip"
outputs = ["csv.zip"]

[tasks."data:unzip"]
run = "unzip -o csv.zip"
sources = ["csv.zip"]
outputs = ["csv/"]

[tasks."data:load"]
description = "Loads CSV data into the database"
run = """
#!/usr/bin/env bash

for file in csv/*.csv
do
    filename=$(basename -- "$file")
    dataset="${filename%.*}"
    echo "Loading $dataset"
    cat "$file" | duckdb dev.duckdb \
        -c "create table $dataset as select * from read_csv('/dev/stdin', all_varchar = true);"
done
"""
sources = ["csv/*.csv"]
outputs = ["dev.duckdb"]

[tasks.clean]
run = '''
#!/usr/bin/env bash

rm -rf dev.duckdb csv.zip csv/
'''

